<div class="container contact">
  <div class="row">
    <div class="col-sm-4">
      <div class="card card-default">
        <div class="card-header">Header</div>
        <div class="card-body card-6-6">
          <div class="card-left">
            <img src="/images/konman01.jpg" class="img-responsive">
          </div>
          <div class="card-right">
            <h1>Heading</h1>
            <p>A stitch in time saves nine.  All good things come to those who wait.  Too  many cooks spoil the broth.</p>
          </div>
        </div>
        <div class="card-body">
          <p>Ea est appetere honestatis, pri at definiebas repudiandae, no his adhuc omnium commodo. Duo tritani suscipit voluptatibus ut, pro ei dicit euismod impedit. An nulla similique qui. Soluta nostrum ea eos, summo falli ea nec.</p>
        </div>
        <div class="card-footer">Footer</div>
      </div>
    </div>
