<div id="teamMembers">
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/img/konman01.jpg" alt="Manjunatha" style="width:100%">
      <div class="container">
        <h2>Manjunatha K G</h2>
        <p class="title">Graduate Student From SJSU</p>
        <p>Graduate student from San Jose State University, pursuing Masters in Computer Engineering</p>
        <p>manjunatha.konigururaja@sjsu.edu</p>
        <p><a href="https://www.linkedin.com/in/konman/" class="button" >Contact</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="" alt="Mike" style="width:100%">
      <div class="container">
        <h2>name</h2>
        <p class="title">title</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><a class="button">Contact</a></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="" alt="John" style="width:100%">
      <div class="container">
        <h2>name</h2>
        <p class="title">title</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><a class="button" href="">Contact</a></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="" alt="John" style="width:100%">
      <div class="container">
        <h2>name</h2>
        <p class="title">title</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><a class="button">Contact</a></p>
      </div>
    </div>
  </div>

</div>
</div>
